* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

:root {
  font-size: 10px;
  --verde-1: #00F35A;
  --verde-2: #00A53D;
  --verde-3: #00722B;
  --verde-4: #00230D;
  --cinza: #F0F4F2;
  --preto: #000000;
  --branco: #ffffff;
}

body {
  font-size: 1.6rem;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 70vw;
  margin: auto;
  padding: 30px 0;
}

.header-bg {
  background-color: var(--verde-2);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header * {
  font-size: 2rem;
  color: #000;
}

.logo {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 4rem;
  font-family: Fraunces, 'Courier New', Courier, monospace;
  letter-spacing: 0.4rem;
}


.acesso {
  display: flex;
  gap: 40px;
  align-self: center;
}
.acesso a {
  transition: all 200ms ease;
  scale: 1;
  color: var(--verde-4);
  padding: 10px;
}

.acesso a:last-child {
  color: var(--branco);
  background-color: var(--verde-4);
  border-radius: 5px;
  font-family: 'Roboto Mono', monospace;
}

.acesso a:hover {
  font-weight: bold;
}


.intro-bg {
  background-color: var(--preto);
}

.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 50px 0;
  height: 600px;
}

.intro * {
  color: var(--cinza);
}

.intro h1 {
  font-size: 5rem;
  line-height: 1;
  margin-bottom: 25px;
}

.intro h1 span {
  color: var(--verde-1);
  font-weight: bold;
}

.intro p {
  font-size: 2.5rem;
  line-height: 3.5rem;
  max-width: 32ch;
}

.intro-img {
  justify-self: center;
}

.intro-img img {
  height: 400px;
}

.rifas-grid {
  display: grid; 
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  grid-auto-rows: minmax(250px, 1fr);
  padding: 20px;
}

.rifa-card {
  padding: 20px;
  box-shadow: 5px 5px 20px;
  background-color: #ddd;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}


.rifa-card .autor, .rifa-card .valor {
  background-color: var(--verde-1);
  padding: 5px 10px;
  border-radius: 4px;
  display: inline-block;
  color: var(--preto);
  font-weight: bold;
  text-transform: capitalize;  
}

.rifa-card .titulo-rifa {
  font-size: 2.5rem;
  color: var(--verde-4);
  width: 100%;
}

.rifa-card img {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}



.btn {
  background-color: var(--verde-4);
  color: var(--branco);
  text-align: center;
  font-size: 2rem;
  padding: 5px 10px;
  border-radius: 4px;
  align-self: stretch;
}

.situacao {
  font-size: 2rem;
}

.btn-adquirir {
  display: block;
  color: var(--branco);
  background-color: var(--verde-2);
  margin-top: 20px;
  border-radius: 4px;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  padding: 5px 10px;
}